<p style="color: green"><%= notice %></p>

<%= render @corner %>

<div>
  <%= link_to "Edit this corner", edit_corner_path(@corner) %> |
  <%= link_to "Back to corners", corners_path %>

  <%= button_to "Destroy this corner", @corner, method: :delete %>
</div>
